body {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    font-family: 'Nanum Gothic', sans-serif;
}

.app {
    width: 100%;
    height: 100%;
    background: #FFF;
    display: flex;
    flex-direction: row;
}

.sidebar {
    flex: 1;
    min-width: 80px;
    background: #BA2;
    display: flex;
    flex-direction: column;
    padding-top: 44px;
}

.sidebar-item {
    flex: 1;
    max-height: 84px;
    opacity: 0.5;
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.sidebar-item:hover {
    color: #523737;
    opacity: 1;
}

.sidebar-item-icon {
    display: block;
    text-align: center;
    margin-bottom: 5px;
    font-size: 52px;
    height: 100%;
}

.sidebar-item-text {
    text-align: center;
    font-size: 12px;
}

.main {
    flex: 19;
    background: #AAF;
    display: flex;
    flex-direction: column;
}

.menubar {
    flex: 1;
    min-height: 42px;
    background: #FFF;
}

.content {
    flex: 19;
    background: #FAF;
}

.menu-tool-list {
    float: right;
}

.menu-tool-item {
    font-size: 16px;
    float: right;
    margin: 5px;
}